@{
    ViewBag.Title = "Attendance";
}



@section section_top
{
    <link href="~/Content/built_in/assets/plugins/bootstrap-select2/select2.css" rel="stylesheet" />

    <style>
        .panel-group .panel-heading a {
            display: flex;
            justify-content: flex-start;
        }

        .form-content {
            display: flex;
            justify-content: center;
        }

        .control {
            padding: 10px 10px 10px 10px;
        }

        .control-width {
            width: 280px;
        }
        .table.table-striped tbody .green td {
            background: #00ff21 !important;
        }
            .table.table-striped tbody .greenyellow td {
            background: #ffe5e5 !important;
        }

        .table.table-striped tbody .insideOffice td {
            color: red;
        }

        .table-panel .panel-heading a.greenyellow {
            background: #ffe5e5 !important;
        }
      

        .table-panel .panel-heading a.insideOffice {
            color: red;
        }
    </style>

}

<link href="~/Content/home.css" rel="stylesheet" />

<div class="container">
    <br />
    <div class="right-heading">
        <h3 style="color:black;font-weight:bold;text-align:left ">EMPLOYEE OUT TIME</h3>
    </div>
   
    <div class="row" style="margin-top:20px;" ng-controller="allEmpOutController" ng-init="loadDefault()">
        <div class="col-lg-12">
            <div class="row control">
                <div class="col-md-10">
                    <div class="row form-content" style="justify-content: flex-start">

                        <div class=" col-md-3 col-xs-12">
                            <div class="form-group">
                                <label>From Date</label>
                                <div class="input-daterange" id="datepicker-range" style="float: right">
                                    <input type="text" style="width:210px;padding-top:8px" class="form-control" ng-model="fromDate" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label>To Date</label>
                                <div class="input-daterange" id="datepicker-range" style="float: right">
                                    <input type="text" style="width:210px" class="form-control" ng-model="toDate" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label>Employee</label>
                                <select class="form-control" ng-model="empID" style="float: right;width:210px "
                                        ng-options="emp.EmpID as emp.EmpName for emp in empList">
                                    <option value=""> Select Employee </option>
                                </select>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-md-2">
                    <div id="attendance12" class="btn btn-success custom-btn1" style="float:right;margin-top:24px" ng-click="loadAllOutEmpAttendance()">Search</div>
                </div>

            </div>


            <div class="row">
                <div class="panel-body">
                    <div class="panel-group table-responsive" id="accordion" role="tablist" aria-multiselectable="true" st-table="data" st-safe-src="attendanceList">

                        <div class="panel panel-default table-panel" data-ng-repeat="row in data">
                            <div class="panel-heading" role="tab" id="heading{{$index}}">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}" ng-class="{'greenyellow': row.LateStatus === 'L', 'table-heading': row.InTime === 'IN', 'date-heading': row.InTime === '' }" ng-click="loadDetailsEmp(row)">
                                    <div style="width: 25%">{{row.WDate}}</div>
                                    <div style="width: 25%">{{row.EmpName}}</div>
                                    <div style="width: 25%">{{row.OutTime}}</div>
                                    <div style="width: 25%">{{row.WorkingHour}}</div>

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section section_footer
{
    <script src="~/Content/built_in/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script src="~/Content/built_in/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script>
        $(document).ready(function () {

            setInterval('refreshPage()', 30000);
            setTimeout(function () {
                $('#attendance').trigger('click');
            }, 30000);
        });

        function refreshPage() {
            setTimeout(function () {
                $('#attendance').trigger('click');
            }, 30000);
        }

        //create document ready function
        $(document).ready(function () {

            //create function to display the time
            function displayTime() {
                //create variable currentTime and have the Date() object store computer's time
                var currentTime = new Date();
                //create variables for hours, minutes, and seconds
                var hours = currentTime.getHours();
                var minutes = currentTime.getMinutes();
                var seconds = currentTime.getSeconds();
                var meridiem = " AM";

                if (hours > 11) {
                    hours = hours - 12;
                    meridiem = " PM";
                }
                if (hours === 0) {
                    hours = 12;
                }
                if (hours < 10) {
                    hours = "0" + hours;
                }
                if (minutes < 10) {
                    minutes = "0" + minutes;
                }
                if (seconds < 10) {
                    seconds = "0" + seconds;
                }
                $("#clock").text(hours + ":" + minutes + ":" + seconds + meridiem);
                //set variable to change clockDiv in HTML
                //var clockDiv = document.getElementById('clock');

                //innerText to set text inside an HTML element
                //clockDiv.innerText = hours + ":" + minutes + ":" + seconds + meridiem;
            }
            //function displayDay() {
            //    var currentDay = new Date();
            //    var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
            //    var day = days[currentDay.getDay()];
            //    $("#day").text(day);
            //}
            //function displayDate() {
            //    var currentDate = new Date();
            //    var year = currentDate.getFullYear();
            //    var date = currentDate.getDate();
            //    var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            //    var month = months[currentDate.getMonth()];
            //    if (date < 10) {
            //        date = "0" + date;
            //    }

            //    $("#date").text(month + " " + date + " " + year);
            //}
            displayTime();
            setInterval(displayTime, 1000);
            //displayDay();
            //displayDate();

        });
    </script>
}

